<div class="masonry">
  <div *ngFor="let place of places; let i = index"
  [ngClass]="i % 2 === 0 ? 'tall' : 'short'">
<!-- Aquí va el contenido de la tarjeta --><div class="card-body">

      <img src="{{ place.imagen }}" alt="Imagen del sitio" height="400px" width="400px">
      <h5 class="card-title">{{ place.nombre }}</h5>
      <a [routerLink]="['/reserva']" [queryParams]="{ parametro: place.id}">Enviar</a>
      <p class="card-text">Categoría: {{ place.categoria }}</p>
      <!-- Otros elementos de la tarjeta -->


  </div>
    
</div>
  