<div style="width: 75;">
<br>
<h3>Preguntas Frecuentes</h3>
<br>

<div>
  En este apartado encontraras algunas de las dudas de los usuarios, y si se encuentra alguna de estas el como se resuelve o el porque del problema
</div>
<br>
<div>
  <div class="bg-light" style="border-radius: 5px;">
    <div class="text-primary">Por que no me deja hacer una reservacion en una fecha?</div>
    <p>Esto es debido a que esta fecha ya se encuentra registrada, por lo tanto no hay una solucion a este problema que no sea reservar en otra fecha que no haya sido solicitada.</p>
  </div>

  <div class="bg-light" style="border-radius: 5px;">
    <div class="text-primary">Cuando hago una reservacion me llega algun comprobante?</div>
    <p>Claro, una vez que has hecho la reservacion te llegara un mensaje al correo que ingresaste cuando hiciste login, de lo contrario no te va a llegar ni un mensaje.</p>
  </div>

  <div class="bg-light" style="border-radius: 5px;">
    <div class="text-primary">Hay mas lugares aparte de los que se muestran?</div>
    <p>Por el momento los lugares que se muestran en la pagina son todos los que hay por el momento, en futuras fechas pondremos mas lugares para que los visites.</p>
  </div>

  <div class="bg-light" style="border-radius: 5px;">
    <div class="text-primary">Cuando hago una reservacion puedo cambiar la fecha?</div>
    <p>Desafortunadamente no.</p>
  </div>

  <div class="bg-light" style="border-radius: 5px;">
    <div class="text-primary">Puedo hacer varias reservaciones en distintos lugares?</div>
    <p>En efecto, puedes reservar tantos lugares como quieras, siempre y cuando puedas darte el lujo de asistir.</p>
  </div>
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Tienes una duda?" aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Enviar</button>
  </div>
</div>
</div>
<br>