<!-- <button (click)="activateScreenReader()">Activate Screen Reader</button>
<button (click)="pauseScreenReader()" [disabled]="!isReading">Pause</button>
<button (click)="cancelScreenReader()" [disabled]="!isReading">Cancel</button> -->
<!-- <button (click)="play()"class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar">Reproducir</button>
<button (click)="pause()" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar">Pausar</button>
<button (click)="cancel()" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar">Cancelar</button>
<button (click)="increaseFontSize()" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar">+ Tamaño Letra</button>
<button (click)="decreaseFontSize()" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar">- Tamaño Letra</button>
<button (click)="toggleBackgroundColor()" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar">{{ isDarkMode ? 'Modo Normal' : 'Modo Oscuro' }}</button>
<button (click)="changeFontStyle()" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar">{{ currentFontStyle }}</button> -->
<div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100 d-flex flex-wrap button-group" >
    <div class="list-group-item border-end-0 text-truncate">
        <button (click)="play()" class="btn btn-primary">Reproducir</button>
    </div>
    <div class="list-group-item border-end-0 text-truncate">
        <button (click)="pause()" class="btn btn-primary">Pausar</button>
    </div>
    <div class="list-group-item border-end-0 text-truncate">
        <button (click)="cancel()" class="btn btn-primary">Cancelar</button>
    </div>
    <div class="list-group-item border-end-0 text-truncate">
        <button (click)="increaseFontSize()" class="btn btn-primary">+ Tamaño Letra</button>
    </div>
    <div class="list-group-item border-end-0 text-truncate">
        <button (click)="decreaseFontSize()" class="btn btn-primary">- Tamaño Letra</button>
    </div>
    <div class="list-group-item border-end-0 text-truncate">
        <button (click)="toggleBackgroundColor()" class="btn btn-primary">
            {{ isDarkMode ? 'Modo Normal' : 'Modo Oscuro' }}
        </button>
    </div>
    <div class="list-group-item border-end-0 text-truncate">
        <button (click)="changeFontStyle()" class="btn btn-primary">{{ currentFontStyle }}</button>
    </div>
</div>