<app-graficas></app-graficas>
<br><br><br><br><br><br><br>

<table class="table">
    <thead>
      <tr >
        <th  scope="col">
          Sitio
        </th>
        <th  scope="col">
          Fecha de Reserva
        </th>
        <th  scope="col">
          Aire acondicionado
        </th>
        <th  scope="col">
          Categoria
        </th>
        <th  scope="col">
          Cuartos
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let place of places let indice=index">
      <tr *ngFor="let reservas of place.reserva let indice=index">
        <td >
            {{place.nombre}}
        </td>
        <td >
            {{place.reserva[indice]}}
        </td>
        <td >
          {{ place.aire ? 'Sí' : 'No' }}
        </td>
        <td >
            {{place.categoria}}
        </td>
        <td >
            {{place.cuartos}}
        </td>
      </tr>
      
    </tbody>
  </table>
