
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <div class="form-horizontal" >
                    <h2>Registro de usuario</h2>
                    <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label class="form-label">Nombre: </label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email: </label>
                            <input type="text" class="form-control" formControlName="email">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Contraseña: </label>
                            <input type="password" class="form-control" formControlName="password" [(ngModel)]="pas2">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Confirmar Contraseña: </label>
                            <input type="password" class="form-control" formControlName="Conpassword" [(ngModel)]="pas1">
                        </div>
                        <div *ngIf="band" class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Reservacion Realizada!</strong> Has realizado tu reservacion con exito.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        <input type="submit" class="btn btn-primary" value="Enviar">
                    </form><br>
                    <a href="/login">Ya tienes cuenta? Inicia sesion.</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
